/* ===FOR ALL ELEMENTS=== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-padding: 0px;
}

:root {
        --bg: #16172a;
        --wt: white;
        --teals:#60ffe8;
        --vl: #11162a;
}

/* ===NAVIGATION BAR=== */
nav {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background: var(--wt);
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin-left: 20px;
    font-family: 'Righteous', cursive;
    font-size: 35px;
}

nav ul li {
    display: inline;
    margin: 10px;
    list-style-type: none;
}

nav ul li a {
    color: var(--bg);
    font-family: 'Megrim', cursive;
    font-size: 18px;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
}

nav ul li a:hover {
    background-color: var(--teals);
    border-radius: 15px;
}

/* ===FOOTER=== */
footer {
    background-color:var(--bg) ;
    height:50px;
    color: white;
    text-align: center;
}

/* ===RESPONSIVENES=== */

/* ==TABLETS== */
@media screen and (max-width: 768px) {
    nav {
	justify-content: center;
	flex-direction: column; 
	padding: 10px;
    }

    nav h1 { margin-bottom: 9px }
    nav ul li {	margin: 0px }

    nav ul li a {
	margin: 10px;
	font-size: 18px; 
    }

/* ==MOBILE DEVICES== */
@media screen and (max-width: 480px) {
    nav ul li a { 
	margin: 2px;
	font-size: 13px;
    }
}
